In [1]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline
from plotly import offline
import ta

In [2]:
from backtest_mm import make_mm_pl, Backtest, AirExchange

In [3]:
colnames = ['timestamp', 'open', 'high', 'low', 'close', 'volume']

In [4]:
df = pd.read_csv("./XAUUSD_2022_09.csv", names=colnames, header=None)
df = df.iloc[1000:3000]
df

             timestamp     open     high      low    close  volume
1000  2022.09.01 17:40  1691.16  1691.87  1690.96  1691.47     345
1001  2022.09.01 17:41  1691.47  1692.08  1691.31  1691.63     340
1002  2022.09.01 17:42  1691.60  1692.24  1691.52  1692.02     296
1003  2022.09.01 17:43  1692.04  1692.28  1690.96  1691.34     349
1004  2022.09.01 17:44  1691.35  1691.41  1689.96  1690.12     354
...                ...      ...      ...      ...      ...     ...
2995  2022.09.05 04:58  1711.75  1711.76  1711.26  1711.44      86
2996  2022.09.05 04:59  1711.48  1711.57  1711.30  1711.57      78
2997  2022.09.05 05:00  1711.57  1711.74  1711.37  1711.68      83
2998  2022.09.05 05:01  1711.71  1711.96  1711.71  1711.83      85
2999  2022.09.05 05:02  1711.83  1712.01  1711.67  1711.98      62

[2000 rows x 6 columns]

In [5]:
df["atr"] = ta.volatility.AverageTrueRange(df["high"], df["low"], df["close"], 14).average_true_range()
df["atr"] = df["atr"].shift(1)
df["high_band_atr"] = df["close"] + df["atr"] * 0.5
df["low_band_atr"] = df["close"] - df["atr"] * 0.5
df

/home/nkmt/.pyenv/versions/3.10.6/lib/python3.10/site-packages/ta/volatility.py:50: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

,timestamp,open,high,low,close,volume,atr,high_band_atr,low_band_atr
1000,2022.09.01 17:40,1691.16,1691.87,1690.96,1691.47,345,NaN,NaN,NaN
1001,2022.09.01 17:41,1691.47,1692.08,1691.31,1691.63,340,0.000000,1691.630000,1691.630000
1002,2022.09.01 17:42,1691.60,1692.24,1691.52,1692.02,296,0.000000,1692.020000,1692.020000
1003,2022.09.01 17:43,1692.04,1692.28,1690.96,1691.34,349,0.000000,1691.340000,1691.340000
1004,2022.09.01 17:44,1691.35,1691.41,1689.96,1690.12,354,0.000000,1690.120000,1690.120000
...,...,...,...,...,...,...,...,...,...
2995,2022.09.05 04:58,1711.75,1711.76,1711.26,1711.44,86,0.317247,1711.598624,1711.281376
2996,2022.09.05 04:59,1711.48,1711.57,1711.30,1711.57,78,0.331015,1711.735508,1711.404492
2997,2022.09.05 05:00,1711.57,1711.74,1711.37,1711.68,83,0.326657,1711.843328,1711.516672
2998,2022.09.05 05:01,1711.71,1711.96,1711.71,1711.83,85,0.329753,1711.994876,1711.665124
2999,2022.09.05 05:02,1711.83,1712.01,1711.67,1711.98,62,0.326199,1712.143100,1711.816900

In [6]:
layout = {
    'height':2000,
    'title' : {'text':'リッチマンゴールド', 'x':0.5},
    'titlefont': {'size':25},
    'xaxis': {'title': "", 'rangeslider':{'visible':False}},
    'yaxis' : {'domain': [.55, 1], 'title': "価格" ,'side':"left", 'tickformat':',' },
}

In [7]:
trace =go.Candlestick(
    x     = df['timestamp'],
    open  = df['open'],
    high  = df['high'],
    low   = df['low'],
    close = df['close'],
    yaxis = 'y1',
    name  = 'Richman'
    )

In [8]:
fig = {'data':[trace] ,'layout':layout}

In [9]:
fig['data'].extend([
    go.Scatter(x=df['timestamp'], y=df['high_band_atr'] , name= 'high_band_atr', line=dict(color='orange', width=1)),
    go.Scatter(x=df['timestamp'], y=df['low_band_atr'] , name= 'low_band_atr', line=dict(color='blue', width=1)),
])

In [10]:
offline.plot(fig)

'temp-plot.html'

In [14]:
# 継承して戦略を利用する
# actionを書き換える
class Strategy(Backtest):
    def action(self):
        orders = self._get_orders()
        position = self._get_position()["qty"]
        
        close = self.arrays[self.column_dic["close"]]
        high = self.arrays[self.column_dic["high"]]
        low = self.arrays[self.column_dic["low"]]
        high_band_atr = self.arrays[self.column_dic["high_band_atr"]]
        close = self.arrays[self.column_dic["close"]]
        low_band_atr = self.arrays[self.column_dic["low_band_atr"]]
        if position <= 0:
            self._cancel_all_orders()
            self._market_order(self.size)

In [15]:
air_exchange = AirExchange()
bt = Strategy(
    air_exchange=air_exchange, df=df,
    columns=["high_band_atr", "low_band_atr"]
)

{'timestamp': 0, 'high_band_atr': 1, 'low_band_atr': 2, 'close': 3, 'high': 4, 'low': 5}

In [17]:
bt.run()

{'id': 0, 'timestamp': '2022.09.01 17:41', 'size': 1, 'side': 'Buy', 'ord_type': 'Market', 'price': 1691.63}
0
<class 'int'>
1
<class 'int'>
1
<class 'int'>
0
<class 'int'>
1691.63
1691.63
88888888
99999999
1691.63
 経過: 0.005759000778198242

In [18]:
bt.air_exchange.orders

[]